@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  /* ── บังคับ date input แสดง วัน/เดือน/ปี ── */
  /* input[type="date"]::-webkit-datetime-edit-year-field  { order: 3; }
  input[type="date"]::-webkit-datetime-edit-month-field { order: 2; }
  input[type="date"]::-webkit-datetime-edit-day-field   { order: 1; }

  input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  } */

  input[type="date"]::-webkit-datetime-edit-day-field   { order: 1; }
  input[type="date"]::-webkit-datetime-edit-text:first-of-type { order: 2; content: "/"; }
  input[type="date"]::-webkit-datetime-edit-month-field { order: 3; }
  input[type="date"]::-webkit-datetime-edit-text:last-of-type  { order: 4; content: "/"; }
  input[type="date"]::-webkit-datetime-edit-year-field  { order: 5; }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}